/* Estilo geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(45deg, #ff007f, #00ffcc, #ff00ff, #ff7f00);
  background-size: 400% 400%;
  animation: gradientBackground 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.container {
  text-align: center;
  z-index: 10;
}

.titulo {
  font-size: 3em;
  color: white;
}

.mensagem {
  font-size: 1.5em;
  margin: 20px 0;
  color: #450370;
}

.botao {
  background-color: white;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #ffffff;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: 0 0 10px #ffffff;
}

.botao:hover {
  background-color: #ffffff;
  color: white;
}

.resposta {
  font-size: 1.2em;
  margin-top: 30px;
  color: #ffffff;
}

.escondido {
  display: none;
}

.fugir {
  animation: fugir 0.5s ease-out infinite;
}

/* Animação de fuga do "Não" */
@keyframes fugir {
  0% { transform: translate(0, 0); }
  25% { transform: translate(10px, -10px); }
  50% { transform: translate(-10px, 10px); }
  75% { transform: translate(10px, 10px); }
  100% { transform: translate(-10px, -10px); }
}

/* Estilo para os corações */
.coracoes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.coracao {
  position: absolute;
  font-size: 40px;
  opacity: 0.9;
  animation: subir 5s infinite ease-in-out;
}

@keyframes subir {
  0% {
    transform: translateY(100vh);
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
